// Videos Page Specific CSS - Der Kinderarzt vom Bodensee

@use '../globals';
@use '../typography';

.icon.inline {
  display: inline-block;
}

dl {
  @media (min-width: #{globals.$break-point-tablet}){
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(3, 1fr);
  }

  .column-block {

  }

  dt {
    background: var(--color-accent-1);
    @include typography.body-bold();
    margin: .5em -0.25em;
    padding: 0 .25em;
    border-radius: var(--border-radius-S);
  }

  dd {
    margin: 0;

    details {
      display: inline-block;
      padding: var(--spacer-absatz) 0;
      @media (min-width: #{globals.$break-point-tablet}){
        padding: var(--spacer-achtel) 0;
      }

      &[open] {
        summary {
          margin-bottom: var(--spacer-absatz);
        }

        @media (max-width: #{globals.$break-point-tablet-}){
          background: var(--color-accent-1);
          box-shadow: var(--grid-margin) 0 0 var(--color-accent-1),
                      calc((-1) * var(--grid-margin)) 0 0 var(--color-accent-1);
        }
      }

      summary {
        display: inline-block;
        margin-bottom: 0;
      }

      .glossary-letter {
        color: var(--color-secondary-elements-and-links);
        font-variant: all-small-caps;
      }

      .details-video-card {
        position: relative;

        a {
          --link-color: var(--color-text-inverted);
          --link-color-hover: var(--color-text-inverted);

          &::after {
            display: none;
          }
        }

        img {
          aspect-ratio: 16/9;
          width: 100%;
          height: auto;
          margin-bottom: var(--spacer-element);
        }

        .details-video-card-youtube-banner {
          background-color: var(--color-secondary-elements-and-links);
          min-height: 35%;

          position: absolute;
          inset: auto 0 0 0;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          border-bottom-left-radius: var(--border-radius-M);
          border-bottom-right-radius: var(--border-radius-M);
        }
      }
    }
  }
}
