:root {
  --color-CI: #084CB5;
  --color-CI-hover: #0a62e8;
  --color-accent-1: #FFE588;
  --color-accent-1-05: rgba(255, 229, 136, 0.5);
  --color-accent-2: #FFAC46;
  --color-page: #FFFBF0;
  --color-secondary-elements-and-links: #4F4F4F;
  --color-input-selected-fill: #999999;
  --color-text: #212121;
  --color-text-inverted: #FFFFFF;
  --color-accent-2-text: #E57A00;
  --color-shadow: rgba(0, 0, 0, 0.12);
  --color-overlay: rgba(0, 0, 0, 0.5);
  --color-overlay-alt: rgba(0, 0, 0, 0.8);
}

.tablet {
  display: none;
}

.desktop {
  display: none;
}

@media (min-width: 694px) {
  .mobile {
    display: none;
  }
  .tablet {
    display: unset;
  }
  table.tablet {
    display: table;
  }
}
@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .tablet {
    display: none;
  }
  .desktop {
    display: unset;
  }
  table.desktop {
    display: table;
  }
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375em;
  letter-spacing: 0.02em;
  color: var(--color-text, #f0f);
}
@media (min-width: 694px) {
  body {
    line-height: 1.5em;
  }
}

p, h1, h2, h3, h4, h5, h6, ol, ul, blockquote, code, pre, audio, img, figure {
  margin: 0 0 0.5rem 0;
}

strong, em {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375em;
  letter-spacing: 0.02em;
  color: var(--color-text, #f0f);
  font-weight: 700;
}
@media (min-width: 694px) {
  strong, em {
    line-height: 1.5em;
  }
}

.fett {
  font-weight: 700;
}

a {
  --link-color: var(--color-CI);
  --link-color-hover: var(--color-accent-2-text);
  --link-text-decoration: underline;
  --link-text-decoration-hover: underline;
  text-decoration: var(--link-text-decoration);
}
a:link, a:active, a:visited {
  color: var(--link-color);
}
a[href*=amazon]:link, a[href*=amazon]:active, a[href*=amazon]:visited, a[href*="//amzn."]:link, a[href*="//amzn."]:active, a[href*="//amzn."]:visited {
  color: var(--color-secondary-elements-and-links);
}
a:hover, a:focus {
  color: var(--link-color-hover);
  text-decoration: var(--link-text-decotaion-hover);
}
a[target=_blank]::after {
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  margin: 1px 0.2rem -1px 0.2rem;
  overflow: hidden;
  content: " (externer Link)";
  color: transparent;
  overflow: hidden;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="white" fill-rule="evenodd" clip-rule="evenodd" d="M4 0H5V1.61538H4.11538C2.73467 1.61538 1.61538 2.73467 1.61538 4.11539V9.88462C1.61538 11.2653 2.73467 12.3846 4.11539 12.3846H9.88462C11.2653 12.3846 12.3846 11.2653 12.3846 9.88461V9H14V10C14 12.2091 12.2091 14 10 14H4C1.79086 14 0 12.2091 0 10V4C0 1.79086 1.79086 0 4 0ZM8 0V1.61538H11.3846L7.5 5.5L8.5 6.5L12.3846 2.61539V6H14V1C14 0.447715 13.5523 0 13 0H8Z" /></svg>');
  -webkit-mask-position: bottom right;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="white" fill-rule="evenodd" clip-rule="evenodd" d="M4 0H5V1.61538H4.11538C2.73467 1.61538 1.61538 2.73467 1.61538 4.11539V9.88462C1.61538 11.2653 2.73467 12.3846 4.11539 12.3846H9.88462C11.2653 12.3846 12.3846 11.2653 12.3846 9.88461V9H14V10C14 12.2091 12.2091 14 10 14H4C1.79086 14 0 12.2091 0 10V4C0 1.79086 1.79086 0 4 0ZM8 0V1.61538H11.3846L7.5 5.5L8.5 6.5L12.3846 2.61539V6H14V1C14 0.447715 13.5523 0 13 0H8Z" /></svg>');
  mask-position: bottom right;
  mask-repeat: no-repeat;
  mask-size: contain;
  background: var(--color-secondary-elements-and-links);
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375em;
  letter-spacing: 0.02em;
  color: var(--color-text, #f0f);
  font-weight: 700;
  font-weight: 700;
}
@media (min-width: 694px) {
  h2 {
    line-height: 1.5em;
  }
}
.productCard h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375em;
  letter-spacing: 0.02em;
  color: var(--color-text, #f0f);
  font-weight: 700;
}
@media (min-width: 694px) {
  .productCard h2 {
    line-height: 1.5em;
  }
}
h2 a {
  --link-color: var(--color-accent-2-text);
  --link-color-hover: var(--color-accent-2);
}

h1 {
  font-family: "Univers75Black";
  font-weight: 750;
  font-size: 2rem;
  line-height: normal;
  color: var(--color-accent-2-text);
  text-align: center;
  margin-bottom: var(--spacer-element);
}
@media (min-width: 431px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.09;
  }
}
footer h1, .card h1 {
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375em;
  letter-spacing: 0.02em;
  color: var(--color-text, #f0f);
  font-weight: 700;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--color-accent-2-text);
  margin-bottom: var(--spacer-absatz);
}
@media (min-width: 694px) {
  footer h1, .card h1 {
    line-height: 1.5em;
  }
}
@media (min-width: 694px) {
  footer h1, .card h1 {
    font-size: 2rem;
    line-height: 1.5em;
  }
}

ul li, ol li {
  margin: 0.5rem 0 0.5rem 0;
  margin-block: 0.25rem;
}

@media (min-width: 694px) {
  dl {
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(3, 1fr);
  }
}
dl dt {
  background: var(--color-accent-1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375em;
  letter-spacing: 0.02em;
  color: var(--color-text, #f0f);
  font-weight: 700;
  margin: 0.5em -0.25em;
  padding: 0 0.25em;
  border-radius: var(--border-radius-S);
}
@media (min-width: 694px) {
  dl dt {
    line-height: 1.5em;
  }
}
dl dd {
  margin: 0;
}
dl dd details {
  display: inline-block;
  padding: var(--spacer-absatz) 0;
}
@media (min-width: 694px) {
  dl dd details {
    padding: var(--spacer-achtel) 0;
  }
}
dl dd details[open] summary {
  margin-bottom: var(--spacer-absatz);
}
@media (max-width: 693px) {
  dl dd details[open] {
    background: var(--color-accent-1);
    box-shadow: var(--grid-margin) 0 0 var(--color-accent-1), calc(-1 * var(--grid-margin)) 0 0 var(--color-accent-1);
  }
  dl dd details[open] img {
    --shadow-color: var(--color-accent-1);
    box-shadow: 0.5rem 0.5rem 0 0 var(--shadow-color);
    --shadow-color: var(--color-CI);
  }
}
dl dd details .glossary-letter {
  color: var(--color-secondary-elements-and-links);
  font-variant: all-small-caps;
}
dl dd details .details-video-card {
  position: relative;
}
dl dd details .details-video-card a {
  --link-color: var(--color-text-inverted);
  --link-color-hover: var(--color-text-inverted);
}
dl dd details .details-video-card a::after {
  display: none;
}
dl dd details .details-video-card img {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  margin-bottom: var(--spacer-elemente-absatz);
}
dl dd details .details-video-card .details-video-card-youtube-banner {
  background-color: var(--color-secondary-elements-and-links);
  min-height: 35%;
  position: absolute;
  inset: auto 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: var(--border-radius-M);
  border-bottom-right-radius: var(--border-radius-M);
}
dl dd details .details-video-card .details-video-card-youtube-banner.legacy {
  min-height: 35%;
}
dl dd details .details-video-card .details-video-card-youtube-banner.v2024-1 {
  min-height: 29%;
}

/*# sourceMappingURL=videos.css.map */
