// Page Footer — Der Kinderarzt vom Bodensee

@use 'globals';

footer {
  padding-bottom: var(--spacer-element);

  @media (max-width: #{globals.$break-point-tablet-}) {
    background-color: var(--color-accent-1);
    padding-top: var(--spacer-element);
  }

  @media (min-width: #{globals.$break-point-tablet}) {
    .containWide {
      border-top: solid 2px var(--color-accent-2);
      height: var(--spacer-element);
    }
  }

  .contain {
    margin-top: 0;
    margin-bottom: 0;

    @media (min-width: #{globals.$break-point-tablet}) {
      display: flex;
      gap: var(--grid-gap);
      align-items: stretch;
    }

    main {
      order: 1;
      flex-grow: 1;
      max-width: 36rem;

      @media (max-width: #{globals.$break-point-tablet-}) {
        img.portraitphoto {
          width: calc(50% - (var(--grid-gap) / 2));
          height: auto;
          float: left;
          margin-right: var(--grid-gap);
        }
      }

      @media (min-width: #{globals.$break-point-tablet}) {
        display: flex;
        gap: var(--grid-gap);

        img.portraitphoto {
          display: block;
          width: 25%;
          height: auto;
          align-self: flex-start;
        }
      }
    }

    aside {
      order: 2;
      flex-basis: 33.3333%;
      flex-shrink: 0;
      margin-left: auto;

      @media (min-width: #{globals.$break-point-desktop}) {
        flex-basis: 25%;
      }
    }
  }

}
