// Global SCSS variables - Der Kinderarzt vom Bodensee

// Colors
:root {
  --color-CI: #084CB5;
  --color-CI-hover: #0a62e8;
  --color-accent-1: #FFE588;
  --color-accent-1-05: rgba(255, 229, 136, 0.5);
  --color-accent-2: #FFAC46;
  --color-page: #FFFBF0;

  --color-secondary-elements-and-links: #4F4F4F;
  --color-input-selected-fill: #999999;
  --color-text: #212121;
  --color-text-inverted: #FFFFFF;
  --color-accent-2-text: #E57A00;

  --color-shadow: rgba(0, 0, 0, 0.12);
  --color-overlay: rgba(0, 0, 0, 0.5);
  --color-overlay-alt: rgba(0, 0, 0, 0.8);
}

// Styles
@mixin glass() {
  background-color: var(--color-overlay-alt);
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    background-color: var(--color-overlay);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }
}

@mixin shadow-L() {
  --shadow-color: var(--color-accent-1);
  box-shadow: 1rem 1rem 0 0 var(--shadow-color);
}

@mixin shadow() {
  --shadow-color: var(--color-accent-1);
  box-shadow: .5rem .5rem 0 0 var(--shadow-color);
}

@mixin shadow-alt() {
  @include shadow();
  --shadow-color: var(--color-CI);
}

// Break points — these may not be defined as CSS custom properties.
$break-point-desktop-max: 1280px;
$break-point-desktop: 1024px;
$break-point-desktop-: 1023px;
$break-point-tablet: 694px; // Wide Column on landscape iPad Mini when in multitasking mode
$break-point-tablet-: 693px;
$break-point-phablet: 431px; // Wider than the largest iPhone is tall

@mixin media-L() {
  @include shadow-L();
  border-radius: var(--border-radius-L);
}

@mixin media() {
  @include shadow();
  border-radius: var(--border-radius-M);
}

main img, main video, .media {
  @include media();

  @media (min-width: #{$break-point-phablet}) {
    &.large {
      @include media-L();
    }
  }
}
