// Media Styles — Der Kinderarzt vom Bodensee

@use 'globals';

img, video {
  display: block;
  max-width: 100%;
  height: auto;
  margin: var(--spacer-element) 0;
  margin-block: 0;
}

video {
  margin: var(--spacer-abschnitt) 0;
}

svg.icon {
  width: 1em;
  height: 1em;
  color: currentcolor;
  display: inline-block;
  vertical-align: middle;
}

main figure {
  margin: 0;
  padding: 0;
}

@mixin media-L() {
  @include globals.shadow-L();
  border-radius: var(--border-radius-L);
}

@mixin media() {
  @include globals.shadow();
  border-radius: var(--border-radius-M);
}


main img, main video, .media {
  @include media();

  @media (min-width: #{globals.$break-point-phablet}) {
    &.large {
      @include media-L();
    }
  }
}
