// Typography — Der Kinderarzt vom Bodensee

@use 'globals';

@mixin body-text() {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
  font-size: 1rem;
  line-height: 1.375em;
	letter-spacing: 0.02em;

  @media (min-width: #{globals.$break-point-tablet}){
    line-height: 1.5em;
  }

	color: var(--color-text, #f0f);
}

body {
	@include body-text();
}

p, h1, h2, h3, h4, h5, h6, ol, ul, blockquote, code, pre, audio, img, figure {
  margin: 0 0 .5rem 0;
}

@mixin body-bold() {
	@include body-text();
	font-weight: 700;
}

strong, em {
	@include body-bold();
}

.fett {
	font-weight: 700;
}

a {
	text-decoration: underline;
  //Hover by default is orange
  --link-color: var(--color-CI);
	--link-color-hover: var(--color-accent-2-text);

  // Links by default are in CI color
  &:link, &:active, &:visited {
    color: var(--link-color);
  }

  // All Amazon links are grey
  &[href*="amazon"], &[href*="//amzn."] {
    &:link, &:active, &:visited {
      color: var(--color-secondary-elements-and-links);
    }
  }

	&:hover, &:focus {
		color: var(--link-color-hover);
	}

  // Links that open in a new tab show an external link icon after
  &[target="_blank"]::after, &[href*="http"]::after {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-left: 2px;
    margin-right: 4px;

    transform: translateY(.2rem);

    content: " (externer Link)";
    color: transparent;
    overflow: hidden;

    background-image: url('../images/external-link.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@mixin navigation() {
  @include body-text();
  text-decoration: none;
  line-height: 1rem;
  color: var(--color-CI);
}

@mixin headline() {
	@include body-bold();
	font-weight: 700;
}

h2 {
	@include headline();

  .productCard & {
    @include body-bold();
  }
  a {
    --link-color: var(--color-accent-2-text);
    --link-color-hover: var(--color-accent-2);
  }
}

@mixin page-title() {
	font-family: 'Univers75Black';
	font-weight: 750;
    font-size: 2rem;
    line-height: normal;
	color: var(--color-accent-2-text);

  @media (min-width: #{globals.$break-point-phablet}) {
    font-size: 3.5rem;
    line-height: 1.09;
  }
}

@mixin section-headline() {
	@include headline();

  font-size: 1.5rem;
  line-height: 2rem;

  @media (min-width: #{globals.$break-point-tablet}){
    font-size: 2rem;
    line-height: 1.5em;
  }

	color: var(--color-accent-2-text);
}

h1 {
	@include page-title();
  text-align: center;
  margin-bottom: var(--spacer-element);

	footer &, .card & {
      text-align: left;
	  @include section-headline();
      margin-bottom: var(--spacer-absatz);
	}
}

ul, ol {
  li {
    margin: .5rem 0 .5rem 0;
    margin-block: .25rem;
  }
}
